@keyframes glowingBorder {
    0% { box-shadow: 0 0 3px rgba(255, 255, 255, 0.4); }
    50% { box-shadow: 0 0 6px rgba(255, 255, 255, 0.6); }
    100% { box-shadow: 0 0 3px rgba(255, 255, 255, 0.4); }
}

.glow-border {
    animation: glowingBorder 3s infinite alternate;
}


